<head><meta charset="utf-8"><meta name="author" content="Integromat"><meta http-equiv="X-UA-Compatible" content="IE=EDGE"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><meta name="robots" content="all"><title>Feet on Your Cake - lieux d'échanges</title><meta name="description" content=""><meta property="og:title" content="Feet on Your Cake"><meta property="og:type" content="website"><meta property="og:url" content=""><meta property="og:description" content=""><meta property="og:site_name" content=""><meta property="og:image" content=""><link rel="alternate" hreflang="en" href=""><link rel="alternate" hreflang="cs" href=""><link rel="apple-touch-icon" sizes="180x180" href=""><link rel="icon" type="image/png" href="" sizes="32x32"><link rel="icon" type="image/png" href="" sizes="16x16"><link rel="manifest" href=""><link rel="mask-icon" href="" color="#2f8cbb"><meta name="msapplication-TileColor" content="#2f8cbb"><meta name="theme-color" content="#2f8cbb"><meta name="apple-mobile-web-app-title" content=""><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="format-detection" content="telephone=no"><meta property="fb:app_id" content="576881582383647"><link rel="stylesheet" href=""><link rel="stylesheet" href="https://use.typekit.net/jjz7jec.css?ver=cffb12dc99ff0b5e3c37702f4a2e2641"><link rel="stylesheet" href="https://cdn.integromat.com/css/legacy/bootstrap-legacy.min.css?v=4.5.3"><link rel="stylesheet" href="https://cdn.integromat.com/css/fontawesome.min.css?v=5.15.4"><link rel="stylesheet" href="https://cdn.integromat.com/css/legacy/base-legacy.min.css?v=2.1.4"><link rel="stylesheet" href="https://cdn.integromat.com/css/legacy/integromat-legacy.min.css?v=2.1.4"><link rel="stylesheet" href="https://cdn.integromat.com/sites/homepage/css/styles.css?v=2.1.4" type="text/css" media="all"><link rel="stylesheet" href="https://cdn.integromat.com/css/themes.min.css"><script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-WBTDSWQ&amp;cid=1171453784.1631194860"></script>
	<script src="https://connect.facebook.net/signals/config/355082361747250?v=2.9.45&amp;r=stable" async=""></script>
	<script src="https://connect.facebook.net/signals/plugins/identity.js?v=2.9.45" async=""></script>
	<script type="text/javascript" async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript" id="analytics-js" async="" src="https://cdn.segment.com/analytics.js/v1/c0QwzrgQBmaSxoxhIS5DA8hN7trsTXgG/analytics.min.js"></script>
	<script async="" src="//www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript" src="https://cdn.integromat.com/js/trackjs.min.js?v=3.10.1" crossorigin="anonymous"></script>
	<style type="text/css">
		iframe#_hjRemoteVarsFrame {
			display: none !important;
			width: 1px !important;
			height: 1px !important;
			opacity: 0 !important;
			pointer-events: none !important;
		}
	</style>
</head>

<header class="gradient gradient">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-expand-lg">
			<a class="navbar-brand" href="/"><img class="logo" src="" alt="Feet on Your Cake" width="159" height="36"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="headernav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/doc">Docs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/count">Se servir de l'api</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/en/integrations">Sushi &amp; Maki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/en/enterprise">Catalogue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/en/kb">Sushi &amp; Yakitori</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/en/login">Sushi</a>
					</li>
					<li class="nav-item">
						<a class="btn-light nav-link ml-3" href="/en/register">FAQ</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
