{# <div class="container">
	<nav class="navbar navbar-inverse navbar-expand-lg">
		<a class="navbar-brand" href="/"><img class="logo" src="https://assets.website-files.com/5aac3a69b2d9acb3144c8171/5f227fff475b73c2ef59b65c_Front.jpeg" alt="logo Foyc" width="50" height="50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="headernav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/en/features">Docs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/en/pricing">Se servir de l'api</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/en/integrations">Apps &amp; Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/en/enterprise">Sushi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/en/kb">Help &amp; Tutorials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/en/login">Sushi</a>
				</li>
				<li class="nav-item">
					<a class="btn-light nav-link ml-3" href="/en/register">Sushi</a>
				</li>
			</ul>
		</div>
	</nav> #}
